<nav class="navbar navbar-expand-sm navbar-dark bg-dark text-warning mb-3">
	<div class="container">
		<a class="navbar-brand" href="/">
		<div class="logo-image">
            <img src="../img/doragon.png" width="60" height="60" class="img-fluid">
      	</div>
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
			aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			{{#if user}}
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link text-warning" href="/">Home</a>
				</li>
				<div class="dropdown">
					<button class="btn dropdown-toggle text-warning" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Movie
					</button>
					<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
						<a class="nav-link text-dark" href="/movie/listMovies">Movie List</a>
						<a class="nav-link text-dark" href="/movie/addMovie">Add Movie</a>
					</div>
				</div>
				<div class="dropdown">
					<button class="btn dropdown-toggle text-warning" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Promotion
					</button>
					<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
						<a class="nav-link text-dark" href="/promos/listPromotions">Promotion List</a>
						<a class="nav-link text-dark" href="/promos/addPromotion">Add Promotions</a>
					</div>
				</div>
				<li class="nav-item">
					<a class="nav-link text-warning" href="/admin/userlist">User List</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-warning" href="/cinema/addCinema">Add Cinema</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-warning" href="/showing/addShowing">Add Showing</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-warning" href="/ticket/listTickets">Ticket List</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-warning" href="/ticket/seats">Seats</a>
				</li>
				
			</ul>
			{{else}}
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link text-warning" href="/">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-warning" href="/movie/listMovies">Movie List</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-warning" href="/ticket/seats">Seats</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-warning" href="/promos/listPromotions">Promotion List</a>
				</li>
			</ul>
			{{/if}}
			<ul class="navbar-nav ml-auto">
				{{#if user}}
				<li class="nav-item dropdown">
					<a href="#" class="nav-link dropdown-toggle text-warning" data-toggle="dropdown"
						id="navbarDropdownMenuLink">{{user.name}}</a>
						<div class="dropdown-menu">
							<a href="" class="dropdown-item text-warning">Type : {{user.accounttype}}</a>
						</div>
				</li>
				<li class="nav-item">
					<a href="/user/logout" class="nav-link text-warning">Logout</a>
				</li>
				{{else}}
				<li class="nav-item">
					<a href="/user/login" class="nav-link text-warning">Login</a>
				</li>
				<li class="nav-item">
					<a href="/user/register" class="nav-link text-warning">Register</a>
				</li>
				{{/if}} 
			</ul>
		</div>
	</div>
</nav>